<script>
	import { page } from '$app/stores';
	import { json } from '@sveltejs/kit';
	import { onMount } from 'svelte';
	import { item } from './store';
	let imgUrl;
	let displayItem = $page.url.searchParams.get('item');
	console.log(displayItem);
	let categories = [
		'smartphones',
		'laptops',
		'fragrances',
		'skincare',
		'groceries',
		'home-decoration',
		'furniture',
		'tops',
		'womens-dresses',
		'womens-shoes',
		'lighting',
		'mens-shirts',
		'mens-shoes',
		'mens-watches',
		'womens-watches',
		'womens-bags',
		'womens-jewellery',
		'sunglasses',
		'automotive',
		'motorcycle'
	];
	onMount(async () => {
		async function getItem() {
			try {
				// const response = await fetch(
				// 	'/api/item/marketplace?category=' + displayCategory ? displayCategory : ''
				// );
				let fetchUrl;
				fetchUrl = displayItem ? '?item=' + displayItem : '';
				console.log('trying to edit');
				console.log('/api/item/find' + fetchUrl);
				const response = await fetch('/api/item/find' + fetchUrl);

				const data = await response.json();
				console.log(data);
				item.set(data);
			} catch (error) {
				console.log(error);
				return [];
			}
		}
		await getItem();
	});
</script>

<svelte:head>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
		crossorigin="anonymous"
	/>
</svelte:head>

<div class="d-flex align-items-center container vh-100 align-items-center justify-content-center	">
	<div class="col-md-7 mx-auto text-center">
		<h1 class="mb-6 mb-5">Update item</h1>
		<div class="row">
			<div class="col-4">
				<img
					src={$item.imgUrl}
					alt="profile pic"
					style="object-fit: cover; width: 100%; aspect-ratio:1"
				/>
			</div>
			<div class="col-8">
				<form class="content text-center" method="POST">
					<input
						class="form-control m-1"
						size="20"
						type="text"
						name="name"
						placeholder="item name"
						value={$item.name}
					/>
					<textarea
						class="form-control m-1"
						size="20"
						rows="4"
						type="text"
						name="description"
						placeholder="type description here"
						value={$item.description}
					/>
					<input
						class="form-control m-1"
						size="20"
						type="url"
						name="imgUrl"
						placeholder="image url here"
						bind:value={$item.imgUrl}
					/>

					<select class="custom-select" name="category">
						<option selected>{$item.category}</option>
						{#each categories as category}
							<option value={category}>{category}</option>
						{/each}
						<option value="other">other</option>
					</select>
					<input
						class="form-control m-1"
						size="20"
						type="number"
						name="price"
						placeholder="price in PHP"
						value={$item.price}
					/>

					<button class="btn btn-primary btn-md mb-5 w-100">Update Item</button>
				</form>
			</div>
		</div>
	</div>
</div>
