<svelte:head>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
		crossorigin="anonymous"
	/>
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	/>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
		rel="stylesheet"
	/>
	<style>
		.cut-text {
			text-overflow: ellipsis;
			overflow: hidden;
			width: 180px;
			height: 1.2em;
			white-space: nowrap;
		}
		#top-bar {
			background-image: linear-gradient(#333333, black);
		}
		.form-control {
			display: inline !important;
		}
		a,
		a:hover {
			text-decoration: underline;
			color: inherit;
		}
		ul {
			list-style-type: none;
		}
		.splash {
			background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
				url('https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
			background-size: cover;
			min-height: 250px;
		}
		.splash-text {
			font-family: 'Josefin Sans';
			font-weight: 700;
			font-size: 3em;
		}
		body {
			font-family: 'Josefin Sans';
		}
	</style>
</svelte:head>

<main>
	<div class="d-flex align-items-center container vh-100 align-items-center justify-content-center	">
		<div class="container text-center">
			<h1 class="mb-0">Capstone 2 Project</h1>
				<p>
				<strong>repos:</strong> <a href="https://gitlab.com/batch-225-rmmorales/cap2-fullstack">Frontend</a>, <a href="https://gitlab.com/batch-225-rmmorales/capstone2">Backend</a>
				</p>
			<p class="mb-5">Mongoose, Express, APIs, Authentication, Cookies, SvelteKit, Render/Vercel</p>
			<h3><strong>Author:</strong> Rafael Norman Morales</h3>
			<h3 class="mb-5"><strong>Site Title:</strong> 🔥Tindero Peer to Peer Marketplace</h3>
			<ul class="mb-5">
				<li><h4><a href="/register">/register</a>: Sign Up Page</h4></li>
				<li><h4><a href="/login">/login</a>: Login Page</h4></li>
				<li><h4><a href="/marketplace">/marketplace</a>: P2P Ecommerce Page</h4></li>
				<li><h4><a href="/sell">/sell</a>: Create an Item Listing</h4></li>
				<li><h4><a href="/edit">/edit</a>: Edit Item Listing</h4></li>
			</ul>
			<p class="mt-5">
				<strong>Demo Accounts:</strong> Admin(Mors:Test1234!), Regular User(Samantha:Test1234!)
			</p>
		
		</div>
	</div>
</main>

<style>
</style>
