<script>
	import { json } from '@sveltejs/kit';
	import { onMount } from 'svelte';
	import { apiData, itemNames } from '../marketplace/store.js';
	import Item from '$components/Item.svelte';
	import ItemSmall from '$components/ItemSmall.svelte';

	onMount(async () => {
		async function getData() {
			try {
				const response = await fetch('http://localhost:5173/api/item');
				const data = await response.json();
				console.log(data);
				apiData.set(data);
			} catch (error) {
				console.log(error);
				return [];
			}
		}

		await getData();
	});

	async function deleteItem(itemID) {
		console.log('mors');
		console.log(itemID);
		fetch('http://localhost:5173/api/item/delete/', {
			method: 'DELETE',
			body: json({ itemID })
		})
			.then((res) => res.text()) // or res.json()
			.then((res) => console.log(res));
	}
</script>

<svelte:head>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
		crossorigin="anonymous"
	/>
	<style>
		.cut-text {
			text-overflow: ellipsis;
			overflow: hidden;
			width: 200px;
			height: 1.2em;
			white-space: nowrap;
		}
		.splash {
			background-image: 'background.jpg';
		}
		#top-bar {
			background-image: linear-gradient(#333333, black);
		}
	</style>
</svelte:head>

<main>
	<div class="col-12 sticky-top text-white" id="top-bar">
		<div class="container justify-content-center">
			<div class="row">
				<div class="col-6">
					<h3>
						<span class="text-warning">SKRT</span><span class="text-danger">></span><span
							class="text-warning">VROOM</span
						>
					</h3>
				</div>
				<div class="col-6 text-right">
					<h6>Hi Mors, Logged in as Admin</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-9">
					<div class="row">
						<div class="col-3">
							<img
								src="src\assets\faces\woman4.jfif"
								alt="some person"
								style="border-radius: 50%; object-fit: cover; width: 100%; aspect-ratio:1"
							/>
						</div>
						<div class="col-9">
							<h3 class="font-weight-bold">
								userName <span class="badge badge-primary">Admin</span>
							</h3>
							<h5>email@email.com</h5>
							<h5>123 Home St, Normal Village, Quezon City</h5>
							<h5>+63918232211</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-6 float-left m-0 p-0">
							<h3 class="font-weight-bold text-dark"><u>Newly Posted / Updated</u></h3>
						</div>
						<div class="col-6 text-right align-text-bottom pt-2">
							<h5>&#60; 1 2 3 4 5 &#62;</h5>
						</div>
					</div>
					<div class="row">
						{#each $apiData.slice(0, 4) as item}
							<Item />
						{/each}
					</div>

					<div class="row">
						<div class="col-6 float-left m-0 p-0">
							<h3 class="font-weight-bold text-dark"><u>All Items</u></h3>
						</div>
						<div class="col-6 text-right align-text-bottom pt-2">
							<h5>&#60; 1 2 3 4 5 &#62;</h5>
						</div>
					</div>
					<div class="row">
						{#each $apiData.slice(30, 38) as item}
							<div class="col-3 p-2">
								<div class="rounded p-2">
									<p class="m-0 font-weight-bold cut-text mb-2">{item.name}</p>
									<p class="d-none">{item.price.toLocaleString()}</p>
									<div class="image">
										<img
											class="rounded"
											style="object-fit: cover; width: 100%; aspect-ratio:1"
											src={item.imgUrl}
											alt={item.name}
										/>
									</div>
									<span class="badge badge-success"
										>{'Buy Now @ ' + item.price.toLocaleString()}</span
									>
									<span class="badge badge-warning">View</span>
									<span class="badge badge-primary">Edit</span>
									<span class="badge badge-danger">Delete</span>
								</div>
							</div>
						{/each}
					</div>
				</div>
				<div class="col-3">
					<h5><u>SuperAdmin</u></h5>
					<div class="col-12">
						{#each $apiData.slice(10, 11) as item}
							<ItemSmall />
						{/each}
					</div>
					<h5><u>Admin</u></h5>
					<div class="col-12">
						{#each $apiData.slice(10, 13) as item}
							<ItemSmall />
						{/each}
					</div>
					<h5><u>Users</u></h5>
					<div class="col-12">
						{#each $apiData.slice(30, 33) as item}
							<div class="row p-0 m-0">
								<div class="col-3 p-0">
									<div class="rounded p-1">
										<div class="image">
											<img
												style="border-radius:50%; object-fit: cover; width: 100%; aspect-ratio:1"
												src="src\assets\faces\man4.jfif"
												alt={item.name}
											/>
										</div>
									</div>
								</div>
								<div class="col-9 p-1">
									<p class="m-0 p-0"><small>{item._id}</small></p>
									<p class="m-0 p-0">
										<span class="badge badge-warning">View</span>
										<span class="badge badge-primary">Make Admin</span>
										<span class="badge badge-danger">Ban</span>
									</p>
								</div>
							</div>
						{/each}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<style>
</style>
