<script>
	let imgUrl;
</script>

<svelte:head>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
		crossorigin="anonymous"
	/>
</svelte:head>

<div class="d-flex align-items-center container vh-100 align-items-center justify-content-center">
	<div class="col-md-6 mx-auto text-center">
		<h1>become a 🔥tindero</h1>

		<div class="row text-center">
			<div class="col-4">
				<img
					src={imgUrl}
					style="border-radius:50%; object-fit: cover; width: 100%; aspect-ratio:1"
				/>
			</div>
			<div class="col-8">
				<form class="content text-center" method="POST">
					<input
						class="form-control m-1"
						size="20"
						type="text"
						name="username"
						placeholder="username"
					/>

					<input
						class="form-control m-1"
						size="20"
						type="password"
						name="password"
						placeholder="password"
					/>
					<input
						class="form-control m-1"
						size="20"
						type="password"
						name="password2"
						placeholder="confirm password"
					/>
					<input
						class="form-control m-1"
						size="20"
						type="url"
						name="imgUrl"
						placeholder="profile image url"
						bind:value={imgUrl}
					/>
					<input class="form-control m-1" size="20" type="email" name="email" placeholder="email" />

					<input
						class="form-control m-1"
						size="20"
						type="text"
						name="mobileNo"
						placeholder="mobile number"
					/>

					<button class="btn btn-primary btn-md mb-5 w-100">Register</button>
				</form>
			</div>
		</div>

		<div class="mb-5">
			Already a member? <a href="../login">Sign in</a>
		</div>
	</div>
</div>
