<script>
</script>

<div class="col-3 p-2">
	<div class="rounded p-2">
		<p class="m-0 font-weight-bold cut-text mb-2">This is an item</p>
		<p class="d-none">10000</p>
		<div class="image">
			<img
				class="rounded"
				style="object-fit: cover; width: 100%; aspect-ratio:1"
				src="https://i.dummyjson.com/data/products/69/thumbnail.jpg"
				alt="some item"
			/>
		</div>
		<span class="badge badge-success">{'Buy Now @ ' + '10000'}</span>
		<span class="badge badge-warning">View</span>
		<span class="badge badge-primary">Edit</span>
		<button class="badge badge-danger"> Delete </button>
	</div>
</div>

<!-- <svelte:head>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
		crossorigin="anonymous"
	/>

</svelte:head> -->
<style>
	.cut-text {
		text-overflow: ellipsis;
		overflow: hidden;
		width: 200px;
		height: 1.2em;
		white-space: nowrap;
	}
</style>
