<div class="row p-0 m-0">
	<div class="col-4 p-0">
		<div class="rounded p-1">
			<div class="image">
				<img
					class="rounded"
					style="object-fit: cover; width: 100%; aspect-ratio:1"
					src="https://i.dummyjson.com/data/products/64/thumbnail.jpg"
					alt="some item"
				/>
			</div>
		</div>
	</div>
	<div class="col-8 p-1">
		<p class="m-0 p-0 cut-text"><small>Skeleton Watch</small></p>
		<p class="m-0 p-0">
			<span class="badge badge-warning">View</span>
			<span class="badge badge-primary">Edit</span>
			<span class="badge badge-danger">Delete</span>
		</p>
	</div>
</div>

<!-- <svelte:head>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
		crossorigin="anonymous"
	/>

</svelte:head> -->
<style>
	.cut-text {
		text-overflow: ellipsis;
		overflow: hidden;
		width: 200px;
		height: 1.2em;
		white-space: nowrap;
	}
</style>
