<script>
	let imgUrl;
	let categories = [
		'smartphones',
		'laptops',
		'fragrances',
		'skincare',
		'groceries',
		'home-decoration',
		'furniture',
		'tops',
		'womens-dresses',
		'womens-shoes',
		'lighting',
		'mens-shirts',
		'mens-shoes',
		'mens-watches',
		'womens-watches',
		'womens-bags',
		'womens-jewellery',
		'sunglasses',
		'automotive',
		'motorcycle'
	];
</script>

<svelte:head>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
		crossorigin="anonymous"
	/>
</svelte:head>

<div class="d-flex align-items-center container vh-100 align-items-center justify-content-center	">
	<div class="col-md-7 mx-auto text-center">
		<h1 class="mb-6 mb-5">Sell your item at 🔥tindero</h1>
		<div class="row">
			<div class="col-4">
				<img src={imgUrl} style="object-fit: cover; width: 100%; aspect-ratio:1" />
			</div>
			<div class="col-8">
				<form class="content text-center" method="POST">
					<input
						class="form-control m-1"
						size="20"
						type="text"
						name="name"
						placeholder="item name"
					/>
					<textarea
						class="form-control m-1"
						size="20"
						rows="4"
						type="text"
						name="description"
						placeholder="type description here"
					/>
					<input
						class="form-control m-1"
						size="20"
						type="url"
						name="imgUrl"
						placeholder="image url here"
						bind:value={imgUrl}
					/>

					<select class="custom-select" name="category">
						<option selected>Select a category</option>
						{#each categories as category}
							<option value={category}>{category}</option>
						{/each}
						<option value="other">other</option>
					</select>
					<input
						class="form-control m-1"
						size="20"
						type="number"
						name="price"
						placeholder="price in PHP"
					/>

					<button class="btn btn-primary btn-md mb-5 w-100">Post Item</button>
				</form>
			</div>
		</div>
	</div>
</div>
