<script>
</script>

<svelte:head>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
		crossorigin="anonymous"
	/>
</svelte:head>

<div class="d-flex align-items-center container vh-100 align-items-center justify-content-center	">
	<div class="col-md-5 mx-auto text-center">
		<h1 class="mb-5">🔥tindero</h1>
		<form class="content text-center" method="POST">
			<input
				class="form-control m-1"
				size="20"
				type="text"
				name="username"
				placeholder="username"
			/>
			<input
				class="form-control m-1"
				size="20"
				type="password"
				name="password"
				placeholder="password"
			/>
			<button class="btn btn-primary btn-md mb-5 w-100">Login</button>
		</form>

		<div class="mb-5">
			Not a member? <a href="../register">Create Account</a>
		</div>
	</div>
</div>
